.main {
  margin: auto;
  width: 60%;
  padding: 100px;
}

.menu {
  display: flex;
  text-align: center;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin-right: 32px;
}
